body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: black;
  }
  .div-left{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
   height: 400px;
   width: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to left, black, rgb(211, 43, 211));
   color: white;
   margin: 100px 0;
   border-radius: 7px;
 }
 .div-right{
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
   height: 400px;
   width: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to right, black, rgb(148, 36, 36));
   color: white;
   margin: 100px 0;
   border-radius: 7px;
 }
 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  hr{
      width: 100%;
      color:white
  }
 