body{
    background-color:black;
}
.navbar{
    background:linear-gradient(to right, black, rgb(255, 27, 28));
    color: rgb(255, 127, 17);
    font-size: 20px;

}
a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: black;
  }
  .div-left{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
   height: 400px;
   width: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to left, grey, rgb(255, 27, 28));
   color: white;
   margin: 100px 0;
   border-radius: 7px;
   font-family: 'Courier New', Courier, monospace;
 }
 .div-right{
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
   height: 400px;
   width: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to right, grey, rgb(255, 27, 28));
   color: white;
   margin: 100px 0;
   border-radius: 7px;
   font-family: 'Courier New', Courier, monospace;
 }
 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  hr{
      width: 100%;
      color:white
  }
  .muscle{
      background-color: black;
      border: black;
  }
  .body{
      border-radius:10px ;
  }
  .welcome{
      font-family: 'Courier New', Courier, monospace;
      font-size: 25px;
  }
  .todo{
      font-family: sans-serif;
  }

 